<html>
<body>
    <h1>New Project</h1>
    <script>
    var xhr = new XMLHttpRequest();
    xhr.open("GET","/api/photo/list");
    xhr.addEventListener("load", function(e){
        var photoList = JSON.parse(xhr.responseText);
        console.log(photoList);
    });
    xhr.send();
    </script>
</body>
</html>
